table {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}

th,
td {
  text-align: left;
  padding: 8px 8px 8px 0;
}

.countryInfo__title {
  font-weight: 600;
  max-width: max-content;
}

.countryInfo__value {
  font-weight: 400;
}

.borderList {
  display: flex;
  margin-left: 5px;
  align-items: center;
  flex-wrap: wrap;
}

.borderItem {
  padding: 4px 8px;
  margin: 8px 12px 8px 0;
  width: max-content;
  text-align: center;
  user-select: none;
  transition: all 0.2s linear;
  opacity: 0.75;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
}

.borderItem:hover {
  opacity: 1;
  cursor: pointer;
  font-weight: bold;
}
